<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action="/" method="post">
                    <input type="text" onkeyup="checker()" id="name" name="name" placeholder="Name" autocomplete="off">
                    <input type="text" onkeyup="checker()" id="month" name="month" placeholder="Month" autocomplete="off">
                    <input type="text" onkeyup="checker()" id="day" name="day" placeholder="Day" autocomplete="off">
                    <input type="submit" id="submit" value="Add" disabled>
                </form>
            </div>
            <div class="section">
                <h2>Remove a Birthday</h2>
                <form action="/" method="post">
                    <input type="text" onkeyup="checkerDel()" id="nameDel" name="nameDel" placeholder="Name" autocomplete="off">
                    <input type="submit" id="submitDel" value="Delete" disabled>
                </form>
            </div>
            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        <ul>
                            {% for birthday in birthdays %}
                            <tr>
                                <td>{{birthday.name}}</td>
                                <td>{{birthday.month}}/{{birthday.day}}</td>
                            </tr>
                            {% endfor %}
                        </ul>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            //Additional Feature!
            //Checks if any of the boxes are left blank
            //It also checks if the user entered a valid birthday
            //It also checks if the name field contains any unicode character
            //Source: https://stackoverflow.com/questions/61550004/check-if-string-contains-any-letter-javascript-jquery
            //Otherwise, the submit button is disabled
           function checker() {
                name = document.querySelector("#name").value;
                month = document.querySelector("#month").value;
                day = document.querySelector("#day").value;

                if ((name === '' || month === '' || day === '') || 
                                !(month >= 1 && month <= 12) ||
                                !(day >= 1 && day <= 31) ||
                                !(/\p{L}/u.test(name)))
                    document.querySelector("#submit").disabled = true;

                else document.querySelector("#submit").disabled = false;
            }

            function checkerDel() {
                name = document.querySelector("#nameDel").value;
                if (name === '' || !(/\p{L}/u.test(name)))
                    document.querySelector("#submitDel").disabled = true;
                else document.querySelector("#submitDel").disabled = false;
            }
       </script>
    </body>
</html>
