{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1 class="left">History</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for item in history%}
        {% if item.transaction_type == "CHARGE" %}
        <tr>
            <td>-</td>
            <td>CHARGE</td>
            <td>-</td>
            <td>{{item.transacted_price | usd}}</td>
            <td>{{item.transacted_total | usd}}</td>
            <td>{{item.date}}</td>
            <td>{{item.time}}</td>
        </tr>
        {% else %}
        <tr>
            <td>{{item.symbol}}</td>
            <td>{{item.name}}</td>
            {% if item.transaction_type == "SELL"%}
                <td>-{{item.transacted_shares}}</td>
            {% else %}
                <td>+{{item.transacted_shares}}</td>
            {% endif %}
            <td>{{item.transacted_price | usd}}</td>
            <td>{{item.transacted_total | usd}}</td>
            <td>{{item.date}}</td>
            <td>{{item.time}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
