{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <ul>
            {% for item in portfolio%}
            <tr>
                <td>{{item.symbol}}</td>
                <td>{{item.name}}</td>
                <td>{{item.current_shares}}</td>
                <td>${{item.current_price}}</td>
                <td>${{item.current_total}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{cash}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{total}}</td>
            </tr>
        <ul>
    </tbody>
</table>
{% endblock %}
