body {
  text-align: center;
  color: black;
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

a, a:hover {
  color: red;
}

header {
  font-family: "Copperplate";
  font-size: xx-large;
  padding-top: 30px;
}

main {
  font-family: "arial";
  font-size: x-large;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

footer {
  font-family: "arial";
  font-size: medium;
  padding-bottom: 30px;
}

img {
  border-radius: 5%;
  width: 350px;
}

#fromcolors {
  color: white;
}

#catbutton {
  background-color: black;
  border: black;
}

#aboutbutton {
  background-color: #4B0082;
  border: #4B0082;
}

#tryclick {
  font-family: serif;
}
