body {
  text-align: center;
  color: black;
  background-color: white;
}

h5 {
  font-family: "papyrus";
}
header {
  font-family: "Copperplate";
  font-size: xx-large;
  padding-top: 30px;
  padding-bottom: 0px;
}

main {
  font-family: "arial";
  font-size: x-large;
  padding-top: 30px;
  padding-bottom: 0px;
}

footer {
  font-family: "arial";
  font-size: medium;
  padding-top: 0px;
  padding-bottom: 30px;
}

img {
  border-radius: 5%;
  width: 350px;
}
